<ion-header class="ion-no-border" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-capitalize"> {{titulo()}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle>
        <ion-button>
          <ion-avatar>
            <ion-img src="/assets/images/menu.png"></ion-img>
          </ion-avatar>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

