.slide-full {
  height: 100% !important;
}

ion-card {
  height: 300px;
  width: 300px;
  margin: 40% auto 10% auto;
  padding-top: 5%;
}

.slide-image {
  width: 100px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
